/* --- Keyframes --- */

@keyframes fadeIn {
	0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translate(300px, 0px) skewX(-30deg);
	}
	60% {
		opacity: 1;
		transform: translate(-10px, 0px) skewX(30deg);
	}
	80% {
		opacity: 1;
		transform: translate(-10px, 0px) skewX(-15deg);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px) skewX(0deg);
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translate(-300px, 0px) skewX(-30deg);
	}
	60% {
		opacity: 1;
		transform: translate(-10px, 0px) skewX(30deg);
	}
	80% {
		opacity: 1;
		transform: translate(-10px, 0px) skewX(-15deg);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px) skewX(0deg);
	}
}

@keyframes fadeDown {
  0% {
    opacity:0;
    transform:  translate(0px,-50px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@keyframes fadeRight {
  0% {
    opacity:0;
    transform:  translate(-800px,0px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

@keyframes fadeUp {
  0% {
    opacity:0;
    transform:  translate(0px, 400px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

@keyframes grow {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1)
	}
}

/* --- setup --- */

html {
	color: #F1F0EA;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: white;
	font-family: 'Comfortaa', cursive;
}


/*--- Links ---*/

a {
	text-decoration: none;
}


/*--- Home ---*/

.home {
	margin: 0; 
	background: linear-gradient( rgba(101,175,255, 0.8), rgba(222, 22, 22, 0.8)), url(images/trees.jpeg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.down-arrow {
	position: absolute;
	left: 49.2%;
	bottom: 5px;
	animation: fadeDown 1s forwards;
}


.codeLang {
	font-size: 20px;	
}


.name {
	font-family: 'Comfortaa', cursive;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	line-height: 80px;
	font-size: 50px;
	padding: 30px 75px;
	border: 6px solid white;
	border-radius: 5px;
	animation: fadeIn 3s forwards;
}

.coding-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}

.code-icon {
	margin: 20px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	animation: slideInLeft 1s forwards ease-in;
}

/*--- Main Nav ----*/


.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	padding: 0;
	animation: slideInRight 1s forwards ease-in;
}

.main-nav li {
	display: inline-block;
	margin: 20px 20px;
	
}


/*--- Projects ---*/


#projects {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(to top, rgba(101,175,255,0.8), rgba(222, 22, 22, 0.8)), url(images/ocean.jpg) no-repeat center center fixed;;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.slide-content {
	border: solid white 3px;
	border-radius: 5px;
	padding: 15px 20px;
	margin: 20px 0;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	color: white;
}

.slides {
	opacity: 0;
}

.slidesAnimate {
	width: 720px;
	animation: fadeIn 1s forwards;
	animation-iteration-count: 1;
}

.slide-image {
	height: 480px;
	width: 720px;
	border-radius: 5px;
}

.arrow-btn {
	background: transparent;
	border: transparent;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.arrow-btn:focus {
	outline: none;
}

.arrows {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60%;
}

/*--- about ----*/

.about {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-height: 100vh;
	width: 100%;
	background: linear-gradient( rgba(101,175,255, 0.8), rgba(222, 22, 22, 0.9)), url(images/nyc.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-heading {
	opacity: 0;
}

.about-heading-animate {
	animation: fadeRight 1s forwards ease-in;
}

.about-main {
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}

.about-main-animate {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	animation: fadeUp 2s forwards;
}

.about-icons {
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-content {
	width: 250px;
	text-align: center;
}

.michael {
	border: solid 3px white;
	border-radius: 50%;
	margin-bottom: 20px;
	opacity: 0;
}

.michael-animate {
	border: solid 3px white;
	border-radius: 50%;
	margin-bottom: 20px;
	animation: grow 2s forwards;
}


/* Big tablet to 1200px  */
@media (max-width: 1200px) {
	
}
/* Small tablet to big tablet: from 768px to 1024px */
@media (max-width: 1024px) {
	
	/* slides */
	
	.slides {
		width: 600px;
	}
	
	.slide-image {
		width: 600px;
		height: 380px;
	}

	.slide-content {
		width: 560px;
		font-size: 80%;
	}

	.arrows {
		width: 80%;
	}
}
/* Small phones to small tablets: from 481px to 767px */
@media (max-width: 767px) {
	

}

/* Small phones: from 0 to 480px */


@media (max-width: 480px) {
	/* home */
	
	.name {
		font-size: 200%;
		padding: 20px 45px;
	}

	.code-icon {
		margin: 10px;
		height: 40px;
		width: 40px;
	}

	.link-icon {
		height: 40px;
		width: 40px;
	}

	.down-arrow {
		left: 46%;
	}

	/* projects */

	.slides {
		width: 320px;
	}
	
	.slide-content {
		font-size: 60%;
		width: 300px;
		padding: 5px 10px;
		margin-top: 70px;
	}

	.slide-image {
		height: 240px;
		width: 320px;
		border-radius: 5px;
	}

	.arrow {
		height: 20px;
		width: 20px;
		margin-top: 90px;
	}

	.arrows {
		width: 30%;
	}

	/* about */

	.michael {
		height: 100px;
		width: 100px;
		margin-top: 40px;
	}

	.about-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about-icons {
		margin: 20px 0 0 0;
	}

	.about-heading {
		text-align: center;
		font-size: 60%;
	}

}

