/* Keyframes */

@keyframes fadeDown {
  0% {
    opacity:0;
    transform:  translate(0px,-50px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@keyframes fadeUp {
  0% {
    opacity:0;
    transform:  translate(0px, 50px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

/* general setup */

body {
	padding: 0;
	margin: 0;
}

* {
	font-family: 'Muli', sans-serif;
}

/* home section */
#home {
	height: 100vh;
	background-color: #162521;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #F1F7FB;
}

#home > h1:first-child {
	margin-bottom: 0;
	padding: 0;
}

#home > h1:nth-child(2) {
	margin: 0;
	padding-top: 0;
}

#home > h1 {
	font-size: 48px;
}

#view-work {
	border: solid 1px #F1F7FB;
	padding: 10px 15px;
	cursor: pointer;
	background-color: #162521;
	-webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in;
}

#view-work:hover {
	background-color: #0090C1;
	border: solid 1px #0090C1;
}

#view-work > i {
	margin-left: 5px;
}

.full-name {
	color: #0090C1;
}

/* portfolio section */

#portfolio {
	background-color: #F1F7FB;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#portfolio > div > h1 {
	margin-top: 100px;
}

.underline {
	height: 5px;
	width: 160px;
	background-color: black;
}

.portfolio-images {
	max-width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 60px 0;
}

.portfolio-image {
	width: 100%;
	height: 100%;
	max-width: 500px;
	display: block;
}

.image-container {
	position: relative;
}

.image-overlay {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F1F7FB;
}

.image-container:hover .image-overlay {
	opacity: 1;
}

.image-container:hover .text-top {
	animation: fadeDown .5s forwards;
}

.image-container:hover .text-middle {
	animation: fadeDown .5s forwards;
}

.image-container:hover .text-bottom {
	animation: fadeUp .5s forwards;
}

.text-top {
	margin-top: 80px;
	font-size: 20px;
}

.text-middle {
	font-size: 15px;
	color:#0090C1;
}

.text-bottom {
	margin-top: 30px;
}

.modal-btn {
	font-size: 20px;
	color: #0090C1;
	border: 2px solid #0090C1;
	padding: 10px 25px;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: background-color .5s ease-in;
  -moz-transition: background-color .5s ease-in;
  -o-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
}

.modal-btn:hover {
	color: #F1F7FB;
	background-color: #0090C1;
}

.image-text {
	text-align: center;
}

.project-filter {
	display: flex;
}

.modal-container {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #F1F7FB;
	margin: auto;
	padding: 50px;
	width: 50%;
}

.description {
	border-top: 1px solid #0090C1;
	padding: 10px 0 20px 0;;
}

.stack {
	color:#0090C1;
}

.close {
	float: right;
	color: #0090C1;
	font-size: 20px;
}

.close:hover,
.close:focus {
	cursor: pointer;
	color: #162521;
}

.visit {
	text-decoration: none;
	padding: 10px 15px;
	background: #0090C1;
	color: #F1F7FB;
	-webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.visit:hover {
	background: transparent;
	color: #0090C1;
}

.visit > i {
	margin-left: 5px;
}

.filter {
	margin: 50px 30px 10px 30px;
	color: #F1F7FB;
	background-color: #0090C1;
	padding: 10px 15px;
}



