body, html {
  margin: 0;
  padding: 0;
  font: 100% "Poppins", sans-serif;
  background-color: #011621;
  color: rgba(234, 254, 255, 0.8784313725);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 300ms;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100vh;
  padding: 48px 24px;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 1056px;
  padding: 96px 0;
}

header {
  width: 50%;
  max-height: 100vh;
}
header .name-nav {
  position: fixed;
  top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 96px;
}
header .name-nav h1 {
  font-size: 50px;
}
header .name-nav h2 {
  font-weight: 200;
  margin-top: -30px;
  color: rgba(216, 251, 255, 0.6745098039);
}
header .name-nav nav {
  margin-top: 96px;
}
header .name-nav nav li {
  margin: 12px 0;
}
header .name-nav nav li:hover {
  color: rgba(234, 254, 255, 0.8784313725);
}
header .name-nav nav .active span {
  color: rgba(234, 254, 255, 0.8784313725);
}
header .name-nav nav .active .link-line {
  border-top: 1px solid rgba(234, 254, 255, 0.8784313725);
  width: 60px;
  margin-right: 10px;
  display: inline-flex;
}
header .name-nav nav .link-line {
  border-top: 1px solid rgba(216, 251, 255, 0.6745098039);
  width: 30px;
  margin-right: 10px;
  display: inline-flex;
  transition: width 300ms;
}
header .name-nav nav a {
  font-size: 0.75rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
header .name-nav nav a:link {
  text-decoration: none;
  color: rgba(216, 251, 255, 0.6745098039);
}
header .name-nav nav a:visited {
  text-decoration: none;
  color: rgba(216, 251, 255, 0.6745098039);
}
header .name-nav nav a:hover {
  text-decoration: none;
  color: rgba(234, 254, 255, 0.8784313725);
}
header .name-nav nav a:hover .link-line {
  border-top: 1px solid rgba(234, 254, 255, 0.8784313725);
  width: 60px;
  margin-right: 10px;
  display: inline-flex;
}
header .name-nav nav a:active {
  text-decoration: none;
  color: rgba(234, 254, 255, 0.8784313725);
}
header .name-nav .social-list {
  display: flex;
}
header .name-nav .social-list li {
  margin-right: 20px;
}
header .name-nav .social-list a {
  color: #f0fdf9;
  font-size: 2rem;
}
header .name-nav .social-list a:hover {
  color: #5eeace;
}

main {
  width: 50%;
}

#about {
  color: rgba(216, 251, 255, 0.6745098039);
  scroll-margin-top: 144px;
}

#experience {
  margin-top: 96px;
  scroll-margin-top: 144px;
}
#experience .resume {
  color: rgba(234, 254, 255, 0.8784313725);
  text-align: none;
}
#experience i {
  transition: transform ease 300ms;
}
#experience .resume:hover {
  color: #5eeace;
}
#experience .resume:hover i {
  color: #5eeace;
  transform: translateX(4px);
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  grid-template-rows: 1fr auto;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  color: rgba(216, 251, 255, 0.6745098039);
  background-color: rgba(3, 48, 73, 0.2901960784);
  box-shadow: rgba(3, 114, 155, 0.22) 0px 1px 3px 0px, rgba(3, 114, 155, 0.222) 0px 1px 2px 0px;
}
.card h4 {
  font-weight: 400;
  margin: 8px 0;
  color: rgba(234, 254, 255, 0.8784313725);
}
.card .experience-date {
  font-size: 0.75rem;
  align-self: start;
}
.card .experience-description {
  font-size: 0.75rem;
}
.card .project-image {
  max-width: 124px;
  border-radius: 5px;
  border: 2px solid rgba(204, 251, 239, 0.7058823529);
  margin-top: 10px;
}
.card ul {
  display: flex;
  flex-wrap: wrap;
}
.card .visit {
  font-size: 0.69rem;
  letter-spacing: 2px;
  color: #f0fdf9;
  border-radius: 12px;
  margin: 5px 10px 0 0;
}
.card i {
  transition: transform ease 300ms;
}
.card .visit:hover {
  color: #5eeace;
}
.card .visit:hover i {
  color: #5eeace;
  transform: translateY(-2px) translateX(2px);
}

.tech-stack {
  font-size: 0.75rem;
  padding: 5px 7px;
  background-color: rgba(17, 94, 86, 0.5137254902);
  color: #5eeace;
  border-radius: 12px;
  margin: 5px 5px 5px 0;
}

#projects {
  margin-top: 96px;
  scroll-margin-top: 144px;
}

/*# sourceMappingURL=styles.css.map */
