body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #011621;
  color: rgba(234, 254, 255, 0.9411764706);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 300ms;
}

p {
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}

.columns {
  display: flex;
  justify-content: center;
  width: 1024px;
  padding: 96px;
}

.section-header {
  display: none;
  font-size: 1.6rem;
}

header {
  width: 50%;
}
header .name-nav {
  position: fixed;
  top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 96px;
}
header .name-nav h1 {
  font-size: 2.7rem;
  margin-top: -20px;
}
header .name-nav h2 {
  font-weight: 200;
  margin-top: -30px;
  color: rgba(216, 251, 255, 0.6745098039);
}
header .name-nav nav {
  margin-top: 96px;
}
header .name-nav nav li {
  margin: 12px 0;
}
header .name-nav nav li:hover {
  color: rgba(234, 254, 255, 0.9411764706);
}
header .name-nav nav .active span {
  color: rgba(234, 254, 255, 0.9411764706);
}
header .name-nav nav .active .link-line {
  border-top: 1px solid rgba(234, 254, 255, 0.9411764706);
  width: 60px;
  margin-right: 10px;
  display: inline-flex;
}
header .name-nav nav .link-line {
  border-top: 1px solid rgba(216, 251, 255, 0.6745098039);
  width: 30px;
  margin-right: 10px;
  display: inline-flex;
  transition: width 300ms;
}
header .name-nav nav a {
  font-size: 0.75rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
header .name-nav nav a:link {
  text-decoration: none;
  color: rgba(216, 251, 255, 0.6745098039);
}
header .name-nav nav a:visited {
  text-decoration: none;
  color: rgba(216, 251, 255, 0.6745098039);
}
header .name-nav nav a:hover {
  text-decoration: none;
  color: rgba(234, 254, 255, 0.9411764706);
}
header .name-nav nav a:hover .link-line {
  border-top: 1px solid rgba(234, 254, 255, 0.9411764706);
  width: 60px;
  margin-right: 10px;
  display: inline-flex;
}
header .name-nav nav a:active {
  text-decoration: none;
  color: rgba(234, 254, 255, 0.9411764706);
}
header .name-nav .social-list {
  display: flex;
}
header .name-nav .social-list li {
  margin-right: 20px;
}
header .name-nav .social-list a {
  color: rgba(216, 251, 255, 0.6745098039);
  font-size: 2rem;
}
header .name-nav .social-list a:hover {
  color: rgba(234, 254, 255, 0.9411764706);
}

main {
  width: 50%;
}

#about {
  color: rgba(216, 251, 255, 0.6745098039);
  scroll-margin-top: 96px;
}
#about p:first-child {
  margin-top: 0;
}
#about p {
  font-size: 0.9rem;
}

#experience {
  margin-top: 96px;
  scroll-margin-top: 96px;
}
#experience .resume {
  color: rgba(234, 254, 255, 0.9411764706);
  text-align: none;
}
#experience i {
  transition: transform ease 300ms;
}
#experience .resume:hover {
  color: #5be9ff;
}
#experience .resume:hover i {
  color: #5be9ff;
  transform: translateX(4px);
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  grid-template-rows: 1fr auto;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  color: rgba(216, 251, 255, 0.6745098039);
  background-color: #021a27;
  box-shadow: rgba(16, 76, 105, 0.25) 0px 10px 15px -6px inset;
}
.card h4 {
  font-weight: 400;
  margin: 0 0 8px 0;
  color: rgba(234, 254, 255, 0.9411764706);
}
.card p {
  margin-top: 10px;
}
.card .card-date {
  font-size: 0.75rem;
  align-self: start;
}
.card .card-description {
  font-size: 0.75rem;
}
.card .card-image {
  max-width: 124px;
  border-radius: 5px;
  border: 2px solid rgba(216, 251, 255, 0.6745098039);
  margin-top: 10px;
}
.card ul {
  display: flex;
  flex-wrap: wrap;
}
.card .visit {
  font-size: 0.69rem;
  letter-spacing: 2px;
  color: rgba(234, 254, 255, 0.9411764706);
  border-radius: 12px;
  margin-right: 10px;
}
.card i {
  transition: transform ease 300ms;
}
.card .visit:hover {
  color: #5be9ff;
}
.card .visit:hover i {
  color: #5be9ff;
  transform: translateY(-2px) translateX(2px);
}

.tech-stack {
  font-size: 0.75rem;
  padding: 5px 7px;
  background-color: rgba(13, 91, 125, 0.4470588235);
  color: #5be9ff;
  border-radius: 12px;
  margin: 5px 5px 5px 0;
}

#projects {
  margin-top: 96px;
  scroll-margin-top: 96px;
}

#created-by {
  margin-top: 96px;
  color: rgba(216, 251, 255, 0.6745098039);
}
#created-by p {
  margin-bottom: 0;
  font-size: 0.75rem;
}

@media (max-width: 1024px) {
  .columns {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 48px;
    gap: 120px;
  }
  header {
    width: 100%;
  }
  header .name-nav {
    position: relative;
  }
  header .name-nav nav {
    display: none;
  }
  main {
    width: 100%;
  }
  .section-header {
    display: inline-block;
    color: rgba(234, 254, 255, 0.9411764706);
    letter-spacing: 2px;
  }
  .card {
    column-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .card .card-image {
    max-width: 300px;
    grid-row-start: 2;
  }
  .card .visit {
    font-size: 1rem;
  }
  .tech-stack {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
