$font-stack: 'Poppins', sans-serif;
$seagull-50: #eafeffe0;
$seagull-100: #d8fbffac;
$seagull-200: #9ef4ff;
$seagull-300: #5be9ff;
$seagull-400: #0ad2ff;
$seagull-500: #00b6e5;
$seagull-600: #0090c0;
$seagull-700: rgb(3, 114, 155);
$seagull-800: #0d5c7d;
$seagull-900: #104c69;
$seagull-950: #0330494a;
$seagull-1000: #011621;

$turquoise-50: #f0fdf9;
$turquoise-100: #ccfbefb4;
$turquoise-200: #99f6e0;
$turquoise-300: #5eeace;
$turquoise-400: #34d5ba;
$turquoise-500: #14b89f;
$turquoise-600: #0ea28fa7;
$turquoise-700: #0f766a;
$turquoise-800: #115e5683;
$turquoise-900: #134e48;
$turquoise-950: #042f2c;



body, html {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  background-color: $seagull-1000;
  color: $seagull-50;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 300ms;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100vh;
  padding: 48px 24px;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 1056px;
  padding: 96px 0;
}

header {
  width: 50%;
  max-height: 100vh;

  .name-nav {
      position: fixed;
      top: 110px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      bottom: 96px;

    h1 {
      font-size: 50px;
    }

    h2 {
      font-weight: 200;
      margin-top: -30px;
      color: $seagull-100
    }

    nav {
      margin-top: 96px;

      li {
        margin: 12px 0;
      }
      
      li:hover {
        color: $seagull-50
      }

      .active {
        span {
          color: $seagull-50
        }

        .link-line {
          border-top: 1px solid $seagull-50;
          width: 60px;
          margin-right: 10px;
          display: inline-flex;
        }
      }

      .link-line {
        border-top: 1px solid $seagull-100;
        width: 30px;
        margin-right: 10px;
        display: inline-flex;
        transition: width 300ms;
      }

      a {
        font-size: .75rem;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
      }

      a:link {
        text-decoration: none;
        color: $seagull-100;
      }

      a:visited {
        text-decoration: none;
        color: $seagull-100;
      }

      a:hover {
        text-decoration: none;
        color: $seagull-50;

        .link-line {
          border-top: 1px solid $seagull-50;
          width: 60px;
          margin-right: 10px;
          display: inline-flex;
        }
      }

      a:active {
        text-decoration: none;
        color: $seagull-50;
      }

    }

    .social-list {
      display: flex;

      li {
        margin-right: 20px;
      }

      a {
        color: $turquoise-50;
        font-size: 2rem;
      }

      a:hover {
        color: $turquoise-300;
      }
    }

  }

}

main {
  width: 50%;
}

#about {
  color: $seagull-100;
}

#experience {
  margin-top: 96px;

  .resume {
    color: $seagull-50;
    text-align: none;
  }
  
  i {
    transition: transform ease 300ms;
  }

  .resume:hover {
    color: $turquoise-300;
    i {
      color: $turquoise-300;
      transform: translateX(4px);
    }
  }

}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    grid-template-rows: 1fr auto;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    color: $seagull-100;
    background-color: $seagull-950;
    box-shadow: rgba(3, 114, 155, 0.22) 0px 1px 3px 0px, rgba(3, 114, 155, 0.222) 0px 1px 2px 0px;
  
  h4 {
    font-weight: 400;
    margin: 8px 0;
    color: $seagull-50;
  }

  .experience-date {
    font-size: .75rem;
    align-self: start;
  }

  .experience-description {
    font-size: .75rem;
  }

  .project-image {
    max-width: 124px;
    border-radius: 5px;
    border: 2px solid $turquoise-100;
    margin-top: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .visit {
    font-size: .69rem;
    letter-spacing: 2px;
    color: $turquoise-50;
    border-radius: 12px;
    margin: 5px 10px 0 0;

  }

  i {
    transition: transform ease 300ms;
  }

  .visit:hover {
    color: $turquoise-300;

    i {
      color: $turquoise-300;
      transform: translateY(-2px) translateX(2px);
    }
  }
}


.tech-stack {
  font-size: .75rem;
  padding: 5px 7px;
  background-color: $turquoise-800;
  color: $turquoise-300;
  border-radius: 12px;
  margin: 5px 5px 5px 0;
}

#projects {
  margin: 96px 0;
  overflow-y: hidden;
}