$primary-50: #eafefff0;
$primary-100: #d8fbffac;
$primary-200: #9ef4ff;
$primary-300: #5be9ff;
$primary-400: #0ad2ff;
$primary-500: #00b6e5;
$primary-600: #0090c0;
$primary-700: rgb(3, 114, 155);
$primary-800: #0d5b7d72;
$primary-900: rgb(16, 76, 105);
$primary-950: #021a27;
$primary-1000: #011621;


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $primary-1000;
  color: $primary-50;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 300ms;
}

p {
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}

.columns {
  display: flex;
  justify-content: center;
  width: 1024px;
  padding: 96px;
}

.section-header {
  display: none;
  font-size: 1.6rem;
}

header {
  width: 50%;


  .name-nav {
      position: fixed;
      top: 110px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      bottom: 96px;

    h1 {
      font-size: 2.7rem;
      margin-top: -20px;
    }

    h2 {
      font-weight: 200;
      margin-top: -30px;
      color: $primary-100
    }

    nav {
      margin-top: 96px;

      li {
        margin: 12px 0;
      }
      
      li:hover {
        color: $primary-50
      }

      .active {
        span {
          color: $primary-50
        }

        .link-line {
          border-top: 1px solid $primary-50;
          width: 60px;
          margin-right: 10px;
          display: inline-flex;
        }
      }

      .link-line {
        border-top: 1px solid $primary-100;
        width: 30px;
        margin-right: 10px;
        display: inline-flex;
        transition: width 300ms;
      }

      a {
        font-size: .75rem;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
      }

      a:link {
        text-decoration: none;
        color: $primary-100;
      }

      a:visited {
        text-decoration: none;
        color: $primary-100;
      }

      a:hover {
        text-decoration: none;
        color: $primary-50;

        .link-line {
          border-top: 1px solid $primary-50;
          width: 60px;
          margin-right: 10px;
          display: inline-flex;
        }
      }

      a:active {
        text-decoration: none;
        color: $primary-50;
      }

    }

    .social-list {
      display: flex;

      li {
        margin-right: 20px;
      }

      a {
        color: $primary-100;
        font-size: 2rem;
      }

      a:hover {
        color: $primary-50;
      }
    }

  }

}

main {
  width: 50%;
}

#about {
  color: $primary-100;
  scroll-margin-top: 96px;

  p:first-child {
    margin-top: 0;
  }

  p {
    font-size: .9rem;
  }
  
}

#experience {
  margin-top: 96px;
  scroll-margin-top: 96px;

  .resume {
    color: $primary-50;
    text-align: none;
  }
  
  i {
    transition: transform ease 300ms;
  }

  .resume:hover {
    color: $primary-300;
    i {
      color: $primary-300;
      transform: translateX(4px);
    }
  }

}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    grid-template-rows: 1fr auto;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    color: $primary-100;
    background-color: $primary-950;
    box-shadow: rgb(16, 76, 105, 0.25) 0px 10px 15px -6px inset;
  
  h4 {
    font-weight: 400;
    margin: 0 0 8px 0;
    color: $primary-50;
  }

  p {
    margin-top: 10px;
  }

  .card-date {
    font-size: .75rem;
    align-self: start;
  }

  .card-description {
    font-size: .75rem;
  }

  .card-image {
    max-width: 124px;
    border-radius: 5px;
    border: 2px solid $primary-100;
    margin-top: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .visit {
    font-size: .69rem;
    letter-spacing: 2px;
    color: $primary-50;
    border-radius: 12px;
    margin-right: 10px;
  }

  i {
    transition: transform ease 300ms;
  }

  .visit:hover {
    color: $primary-300;

    i {
      color: $primary-300;
      transform: translateY(-2px) translateX(2px);
    }
  }
}


.tech-stack {
  font-size: .75rem;
  padding: 5px 7px;
  background-color: $primary-800;
  color: $primary-300;
  border-radius: 12px;
  margin: 5px 5px 5px 0;
}

#projects {
  margin-top: 96px;
  scroll-margin-top: 96px;
}

#created-by {
  margin-top: 96px;
  color: $primary-100;

  p {
    margin-bottom: 0;
    font-size: .75rem;
  }
}

@media (max-width: 1024px){
  .columns {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 48px;
    gap: 120px;
  }

  header {
    width: 100%;
    .name-nav {
      position: relative;

      nav {
        display: none;
      }
    }
  }

  main {
    width: 100%;
  }

  .section-header {
    display: inline-block;
    color: $primary-50;
    letter-spacing: 2px;
  }

  .card {
    column-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

      .card-image {
        max-width: 300px;
        grid-row-start: 2;
      }

      .visit { 
        font-size: 1rem;
      }
  }

  .tech-stack {
    font-size: 1rem;
  }

}